:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  font-size: var(--font-size-base);
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px; #f2f2f2 solid;
}

img {
  display: block;
  max-width: 100%;
}

header img{
  max-width: 30%;
  max-height: 30%;
  padding: 1em 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul{ 
  font-size: var(--font-size-lg);
  list-style-type: none;
  display: flex;
  gap: 1em;
  margin-right: auto;
}

.shot-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em 0;
}

.shot-wrapper img {
  border-radius: 0.3rem;
}



.LE{
  font-size: var(--font-size-md);
  font-weight: bold;
}

h1{ 
  font-size: var(--font-size-lg);
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: var(--font-size-lg);
  text-align: center;
  margin: 1em;
}

.full-section-wrapper {
  background-color: #222;
  color: #fff;
}

button {
background-color: black;
color:#fff;
font-size: var(--font-size-sm);
padding: 1em;
border-radius: 0.5rem;
}


.quote-wrapper{
  padding: 0em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.quote-wrapper p{
  padding: 1em;
}

.quote-wrapper cite {
  padding-top: 1rem;
}

.subheading { 
  text-align: center;
  font-size: var(--font-size-md);
}

article {
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 0.5em;
}

article img{
  text-align: center;
  background-color: #888;
  border-radius: 0.5em;
}

.try-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

footer {
  text-align: center;
}
